<div class="container">
<div class="page-header">
	<p class="join"><%= @user.name %>
		<span class="prof_location"> <%= @user.location %> </span></p>
	<p class="prof_bio"><%= @user.bio %></p>




</div>

<div id="roams" class="transitions-enabled">
<% if @roams %>
	<% @roams.each do |roam| %>

		<div class="box">
			<%= link_to image_tag(roam.images.first.try(:image_medium_url)), roam %>
		<div class="right panel-body">
        <div class="roamtitle"><%= roam.title %></div>
        <br/>
        <div id="line"></div>



                <div class="float_left timeago">
        <%=time_ago_in_words(roam.created_at) %> ago
                </div>


        <% if roam.user == current_user %>
				<div class="glyphsline ">
       <div class="float_right minenavs">
        <%= link_to edit_roam_path(roam) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      	<div class="gray"> / </div>
        <%= link_to roam, method: :delete, data: { confirm: 'Are you sure you want to delete this Roam?' } do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
		</div>


      <% end %>
  </div>
</div>







	<% end %>
	<% end %>
	</div>
</div>
</div>
