
<%= form_for(@roam) do |f| %>
  <% if @roam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roam.errors.count, "error") %> prevented this roam from being saved:</h2>
        <ul>
            <% @roam.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="title">
  <div class="form-group" >
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
</div>
<div class="location">
    <div class="form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
    </div>





      <%= f.file_field :image, class: "custom-file-input"  %>

      <%= f.text_field :description, class: "form-control", placeholder: "Caption" %>


<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse">
  <%= f.file_field :imagetwo, class: "custom-file-input" %>

  <%= f.text_field :descriptiontwo, class: "form-control", placeholder: "Caption" %>


</div>





      <%= f.file_field :imagethree, class: "custom-file-input" %>

      <%= f.text_field :descriptionthree, class: "form-control", placeholder: "Caption" %>



      <%= f.file_field :imagefour, class: "custom-file-input" %>

      <%= f.text_field :descriptionfour, class: "form-control", placeholder: "Caption" %>



      <%= f.file_field :imagefive, class: "custom-file-input" %>

      <%= f.text_field :descriptionfive, class: "form-control", placeholder: "Caption" %>



      <%= f.file_field :imagesix, class: "custom-file-input" %>

      <%= f.text_field :descriptionsix, class: "form-control", placeholder: "Caption" %>


      <%= f.file_field :imageseven, class: "custom-file-input" %>

      <%= f.text_field :descriptionseven, class: "form-control", placeholder: "Caption" %>


      <%= f.file_field :imageeight, class: "custom-file-input" %>

      <%= f.text_field :descriptioneight, class: "form-control", placeholder: "Caption" %>



      <%= f.file_field :imagenine, class: "custom-file-input" %>

      <%= f.text_field :descriptionnine, class: "form-control", placeholder: "Caption" %>



      <%= f.file_field :imageten, class: "custom-file-input" %>

      <%= f.text_field :descriptionten, class: "form-control", placeholder: "Caption" %>

  <br>
  <br>
<%= f.submit class: "btn btn-primary" %> <% end %>
