
<%= form_for(@roam, html: { class: 'roam' }) do |f| %>
  <% if @roam.errors.any? %>
    <div id="error_explanation">
      <h2>Hold Up!</h2>
        <ul>
            <% @roam.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

<div class="title">
  <div class="form-group" >
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
</div>
<div class="location">
    <div class="form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
    </div>
  </div>

<script type="text/javascript">
  s3PresignedPosts = <%= @s3_presigned_posts.to_json.html_safe %>;
</script>

<%= f.fields_for :images do |ff| %>
  <div class="images-fields">
    <% unless ff.object.image_thumb_url.blank? %>
      <%= image_tag ff.object.image_thumb_url %>
    <% end %>
    <%= file_field_tag 'image', class: 'custom-file-input' %>
    <%= ff.hidden_field :image_large_url %>
    <%= ff.hidden_field :image_medium_url %>
    <%= ff.hidden_field :image_thumb_url %>
    <br>
    <%= ff.text_field :caption, class: 'form-control', placeholder: 'Caption' %>
    <br>

    <div class="progress" style="display: none">
      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>
<% end %>

<button type="button" class="roundbutton" id="add_image_fields">
  <div class="plus">+</div>
</button>


<br>
<br>

<% f.submit %>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Create Roam
</button>
<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

      <div class="modal-body">
      <span class="loading">Loading...</span>
      </div>
      </div>
    </div>
  </div>
</div>


 <% end %>


</div>
