
<%= form_for(@roam, html: { class: 'roam' }) do |f| %>
  <% if @roam.errors.any? %>
    <div id="error_explanation">
      <h2>Hold Up!</h2>
        <ul>
            <% @roam.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

<div class="title">
  <div class="form-group" >
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
</div>
<div class="location">
    <div class="form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
    </div>
  </div>


<%= f.hidden_field 'image_ids', value: @roam.image_ids.join(',') %>
<% @roam.images.each do |image| %>
  <p>
    <%= image_tag image.image.url(:thumb) %>
    <button type="button" class="roundbutton delete_image_button" data-id="<%= image.id %>">
      Delete image
    </button>
  </p>
<% end %>

<p id="image_fields">
  <%= file_field_tag :image, class: "custom-file-input", 'data-url' => roams_image_path  %>
  <br>
  <%= text_field_tag :caption, '', class: "form-control caption", placeholder: "Caption", style: 'display: none' %>
  <br>
  <button type="button" class="roundbutton" id="save_image_button" style="display: none">
    Save image <%= image_tag 'loading.gif', style: 'display:none', class: 'loading' %>
  </button>
  <button type="button" class="roundbutton" id="delete_image_button" data-id="" style="display: none">
    Delete image
  </button>
</p>

<button type="button" class="roundbutton" id="add_image_fields">
  <div class="plus">+</div>
</button>


<br>
<br>

<% f.submit %>

<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Create Roam
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

      <div class="modal-body">
      <span class="loading">Loading...</span>
      <hr>
      <span class="gears">The gears be turnin'
      <p>This may take a minute or so...</p></span>




      </div>


      </div>
    </div>
  </div>
</div>






 <% end %>








</div>
