
<%= form_for(@roam) do |f| %>
  <% if @roam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@roam.errors.count, "error") %> prevented this roam from being saved:</h2>
        <ul>
            <% @roam.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

<br>

<div class="title">
  <div class="form-group" >
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
</div>
<div class="location">
    <div class="form-group">
      <%= f.text_field :location, class: "form-control", placeholder: "Location" %>
    </div>
  </div>








<br>
    <%= f.file_field :image, class: "custom-file-input"  %>
<br>
    <%= f.text_field :description, class: "form-control", placeholder: "Caption" %>


<br>

<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo2">
  <div class="glyphicon glyphicon-plus"></div>
</button><br>
  <div id="demo2" class="collapse">
<br>
  <%= f.file_field :imagetwo, class: "custom-file-input" %>
<br>
  <%= f.text_field :descriptiontwo, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo3">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo3" class="collapse">
<br>
    <%= f.file_field :imagethree, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionthree, class: "form-control", placeholder: "Caption" %>
<br>
    <button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo4">
      <div class="glyphicon glyphicon-plus"></div>
  </button>
</div>



<div id="demo4" class="collapse">
<br>
      <%= f.file_field :imagefour, class: "custom-file-input" %>
<br>
      <%= f.text_field :descriptionfour, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo5">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo5" class="collapse">
<br>
    <%= f.file_field :imagefive, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionfive, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo6">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo6" class="collapse">
<br>
    <%= f.file_field :imagesix, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionsix, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo7">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo7" class="collapse">
<br>
    <%= f.file_field :imageseven, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionseven, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo8">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo8" class="collapse">
<br>
    <%= f.file_field :imageeight, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptioneight, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo9">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo9" class="collapse">
<br>
    <%= f.file_field :imagenine, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionnine, class: "form-control", placeholder: "Caption" %>
<br>
<button type="button" onclick="style.display = 'none'" class="roundbutton" data-toggle="collapse" data-target="#demo10">
<div class="glyphicon glyphicon-plus"></div>
</button>
</div>



<div id="demo10" class="collapse">
<br>
    <%= f.file_field :imageten, class: "custom-file-input" %>
<br>
    <%= f.text_field :descriptionten, class: "form-control", placeholder: "Caption" %>
<br>
</div>

  <br>
<%= f.submit class: "btn btn-primary" %> <% end %>

</div>
