<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55856823-1', 'auto');
  ga('send', 'pageview');

</script>




<% if user_signed_in? %>


<div class="container">
<div class="index_top_word">
  Explore and Discover
</div>



<%= form_tag(roams_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Roams" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>









<div class="container-fluid">
<% if user_signed_in? %>
  <%= link_to 'New Roam', new_roam_path, class: "btn btn-new_roam" %>
<%end%>

  <div id="line1"></div>

</div>


<br>

<div id="roams" class="transitions-enabled">
    <% @roams.each do |roam| %>
      <div class="box">
        <%= link_to image_tag(roam.images.first.try(:image_medium_url)), roam %>
        <div class="right panel-body">
        <div class="roamtitle"><%= roam.title %></div>


        <div id="line"></div>
        <b>
        <%= link_to roam.user.username, roam.user.username if roam.user %>
      </b>

<div class="float_right timeago">
      <%= time_ago_in_words(roam.created_at) %> ago

</div>


<% if current_user && roam.user == current_user %>
<br>
<div class="glyphsline">
<div class="float_right minenavs">
    <%= link_to edit_roam_path(roam) do%>
     <span class="glyphicon glyphicon-edit"></span>
     <% end %>
     <span class="gray">   /  </span>
    <%= link_to roam, method: :delete, data: { confirm: 'Are you sure you want to delete this Roam?' } do %>
    <span class="glyphicon glyphicon-remove"></span>
    <% end %>
</div>
</div>
<% end %>



    </div>
  </div>
    <% end %>
  </div>

  <%= will_paginate @posts %>

</div>

</div>

<br>
<br>
<% else %>


<body class="home_image">

  <div id="banner">


<div class="jumbotron">

    A Place to Share Your Adventures, Big or Small
</div>


  </div>

<div class="registrations">
<div class="panel-body">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="form-group">
  <%= f.text_field :name, class: "form-control", :autofocus => true, placeholder: "Full Name" %>
</div>
  <div class="form-group">
  <%= f.text_field :username, class: "form-control", :autofocus => true, placeholder:"Username" %></div>
  <div class="form-group">
  <%= f.email_field :email, class: "form-control", :autofocus => true, placeholder:"Email" %></div>
  <div class="form-group">
  <%= f.password_field :password, class: "form-control", placeholder:"Password" %>
  </div>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
<span class="twelve">by signing up, you agree to our <%= link_to "policies", policies_path %></span>

</div>
</div>



</body>
<%= render 'layouts/footer' %>
<% end %>
