<div class="roam_show">

<p id="notice"></p>

<div class="text-center">
<br>
<h4><%= @roam.title %></h4>


<p><%=@roam.location %></p>

<br>
<%= image_tag @roam.image.url(:large) %>
<br><br>
</div><div class="caption_contain">
<p><%= @roam.description %></p></div>
<br/>



<div class="text-center">
<% if @roam.imagetwo.file? %>
<%= image_tag @roam.imagetwo.url(:large) %>
<br><br>
</div><div class="caption_contain">
<p><%= @roam.descriptiontwo %></p></div>
<br/>
<% end %>

<div class="text-center">
<% if @roam.imagethree.file? %>
<%= image_tag @roam.imagethree.url(:large) %>
<br><br>
</div><div class="caption_contain">
<p><%= @roam.descriptionthree %></p></div>
<br/>
<% end %>
<div class="text-center">
<% if @roam.imagefour.file? %>
<%= image_tag @roam.imagefour.url(:large) %>
<br><br/>
</div><div class="caption_contain">
<p><%= @roam.descriptionfour %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imagefive.file? %>
<%= image_tag @roam.imagefive.url(:large) %>
<br/><br>
</div><div class="caption_contain">
<p><%= @roam.descriptionfive %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imagesix.file? %>
<%= image_tag @roam.imagesix.url(:large) %>
<br><br>
</div><div class="caption_contain">
<p><%= @roam.descriptionsix %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imageseven.file? %>
<%= image_tag @roam.imageseven.url(:large) %>
<br/><br>
</div><div class="caption_contain">
<p><%= @roam.descriptionseven %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imageeight.file? %>
<%= image_tag @roam.imageeight.url(:large) %>
<br/><br>
</div><div class="caption_contain">
<p><%= @roam.descriptioneight %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imagenine.file? %>
<%= image_tag @roam.imagenine.url(:large) %>
<br><br>
</div><div class="caption_contain">
<p><%= @roam.descriptionnine %></p></div>
<br/>
<% end %>


<div class="text-center">
<% if @roam.imageten.file? %>
<%= image_tag @roam.imageten.url(:large) %>
<br/><br>
</div><div class="caption_contain">
<p><%=@roam.descriptionten%></p></div>
<% end %>



</div>

<hr>


<div class="float_left">
<div class="user_and_edit">
<%= link_to @roam.user.username, "#{root_url}#{@roam.user.username}" if @roam.user %>


<% if @roam.user == current_user %>
	| <%= link_to 'edit', edit_roam_path(@roam) %>
<% end %>
</div>
</div>
<br>
<hr>
</div>
