<div class="roam_show">

<p id="notice"></p>

<div class="text-center">
<br>
<h4 class="title_on_show"><%= @roam.title %></h4>


<p><%=@roam.location %></p>

<br>

<% @roam.images.each do |image| %>
  <%= image_tag image.image_large_url %>
  <br><br>
  <div class="caption_contain">
    <p><%= image.caption %></p>
  </div>
  <br/>
<% end %>

</div>

<hr>


<div class="float_left">
<div class="user_and_edit">
<%= link_to @roam.user.username, "#{root_url}#{@roam.user.username}" if @roam.user %>


<% if @roam.user == current_user %>
	| <%= link_to 'edit', edit_roam_path(@roam) %>
<% end %>
</div>
</div>
<br>
<hr>
</div>
