<nav class="navbar navbar-default" role="navigation">

 <div class="container">

  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

    <%= link_to root_path, class: "brand" do %>
       <div class="logo">Everoam</div>
       <div id="betatag">beta</div>
       <% end %>



    </div>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



      <ul class="nav navbar-nav navbar-right">

        


         <% if user_signed_in? %>



           <ul class="nav navbar-nav navbar-right">


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=current_user.username%>
            <b class="caret"></b></a>
          <ul class="dropdown-menu">


          <li class="center"><%= link_to 'new', new_roam_path %></li>

            <li class="center"><%= link_to "profile", "#{root_url}#{current_user.username}" %>

            </li>



           <li class="center"><%= link_to "settings", settings_path %></li>
            <li class="divider"></li>

            <li class="center"><%= link_to "log out", destroy_user_session_path, method: :delete %></li>

          </ul>
        </li>
      </ul>

         <% else %>

         <li><%= link_to "Login", login_path %></li>

         <li><%= link_to "Join",  join_path %></li>




         <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>
